backup_fluxos-AdK9UXpniwJ1FFST.json
{"createdAt":"2025-09-08T19:49:47.397Z","updatedAt":"2025-09-09T12:31:48.019Z","id":"AdK9UXpniwJ1FFST","name":"Backup_Fluxos","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"id":"202b6780-fae9-4823-ad94-0b07bca1e3d8","name":"Set date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2976,48]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"2114d3bd-0625-4bd1-ba9f-5b26d47dc0fe","name":"Format date1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2768,48]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"6e3b44a2-afe2-4f7d-9e36-f62c15d5cd2d","name":"Set commit date1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-2576,48]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/ClenildonFerreira","mode":"url"},"repository":{"__rl":true,"value":"backup-workflows-n8n-RamosGrupo","mode":"list","cachedResultName":"backup-workflows-n8n-RamosGrupo","cachedResultUrl":"https://github.com/ClenildonFerreira/backup-workflows-n8n-RamosGrupo"},"filePath":"="},"id":"49408544-8dc8-4f3f-aa80-1538e531e93d","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-2368,48],"alwaysOutputData":true,"webhookId":"7eb6f70f-96e0-4360-9df3-f449e032b09f","credentials":{"githubOAuth2Api":{"id":"kRxKr1ZScio6KwWh","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"7750026e-254b-4266-ade1-995d35e29e7e","name":"Combine file names [GITHUB]1","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-2176,48]},{"parameters":{"filters":{},"requestOptions":{}},"id":"ff747985-fc65-4936-bf31-6925cdb503b9","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1968,48]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"01831461-0d89-4a4e-ac25-af3909f18fd4","name":"Move JSON to binary1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1776,48]},{"parameters":{"batchSize":1,"options":{}},"id":"1a6d0870-28df-4b7f-a160-82fb45bf4392","name":"Split to single items1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-1536,48]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"22d063bf-acbf-421f-b13f-0bd97adfcfc9","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1296,-32]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/ClenildonFerreira","mode":"url"},"repository":{"__rl":true,"value":"backup-workflows-n8n-RamosGrupo","mode":"list","cachedResultName":"backup-workflows-n8n-RamosGrupo","cachedResultUrl":"https://github.com/ClenildonFerreira/backup-workflows-n8n-RamosGrupo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"8431a419-d9c0-4c9d-96ef-09f72ecfe5da","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1072,-240],"webhookId":"c2e97a2a-92e2-46ea-b8d8-2deae29c3175"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/ClenildonFerreira","mode":"url"},"repository":{"__rl":true,"value":"backup-workflows-n8n-RamosGrupo","mode":"list","cachedResultName":"backup-workflows-n8n-RamosGrupo","cachedResultUrl":"https://github.com/ClenildonFerreira/backup-workflows-n8n-RamosGrupo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date1'].json.commitDate }}"},"id":"6ace3d9a-d127-4f2e-9e65-5ddf146df043","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1072,160],"webhookId":"75eac7b2-44f9-4d88-923a-ba051cb66081"}],"connections":{"Set date1":{"main":[[{"node":"Format date1","type":"main","index":0}]]},"Format date1":{"main":[[{"node":"Set commit date1","type":"main","index":0}]]},"Set commit date1":{"main":[[{"node":"List files from repository [GITHUB]1","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Combine file names [GITHUB]1","type":"main","index":0}]]},"Combine file names [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"Move JSON to binary1","type":"main","index":0}]]},"Move JSON to binary1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Split to single items1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"68ec0f26-df28-4bd0-8512-df9221b98de0","triggerCount":0,"shared":[{"createdAt":"2025-09-08T19:49:47.397Z","updatedAt":"2025-09-08T19:49:47.397Z","role":"workflow:owner","workflowId":"AdK9UXpniwJ1FFST","projectId":"saXYljVXCG19Xv7E"}],"tags":[]}