backup_workflow_n8n-xwXSLX7UKFMslx05.json
{"createdAt":"2025-09-09T12:32:05.416Z","updatedAt":"2025-09-09T16:46:34.441Z","id":"xwXSLX7UKFMslx05","name":"Backup_WorkFlow_N8N","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"dbc49247-1645-470c-a946-5f67b1fe82fd","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1904,288]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"ca604f8e-ff94-41a8-ac9b-f8cfb3a1cf87","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1696,288]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"bd71301c-c6a6-448a-9e4d-ae85b5444782","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1504,288]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/ClenildonFerreira-Avine","mode":"url"},"repository":{"__rl":true,"value":"backup_avine","mode":"list","cachedResultName":"backup_avine","cachedResultUrl":"https://github.com/ClenildonFerreira-Avine/backup_avine"},"filePath":"="},"id":"87af0d37-220c-4021-acd2-e96aa027652c","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1296,288],"alwaysOutputData":true,"webhookId":"12f55ffa-9cb2-4703-b4be-60490f86ca33","credentials":{"githubApi":{"id":"Vq8sxip5eVUiRrPM","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"76b902e6-5fee-47b0-bf5c-e7468de242aa","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1104,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"0cda1ef4-6fef-4291-b081-c085ffe5dd6d","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-896,288],"credentials":{"n8nApi":{"id":"BOHbjCFNGUflO8wU","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"cd98d479-f69c-46a4-ad41-8cf3bdd4f1f6","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-704,288]},{"parameters":{"batchSize":1,"options":{}},"id":"0aae1aeb-2407-4456-80b7-1c8f60dbb70d","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-464,288]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"c4c43baf-7f32-46b2-9280-3e9a75ad9608","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,208]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/ClenildonFerreira-Avine","mode":"url"},"repository":{"__rl":true,"value":"backup_avine","mode":"list","cachedResultName":"backup_avine","cachedResultUrl":"https://github.com/ClenildonFerreira-Avine/backup_avine"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"2a10d8bc-daf4-4981-9a27-64345b940a31","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"fc8b8b1f-1a0d-4379-92e2-95599cf404d1","credentials":{"githubApi":{"id":"Vq8sxip5eVUiRrPM","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/ClenildonFerreira-Avine","mode":"url"},"repository":{"__rl":true,"value":"backup_avine","mode":"list","cachedResultName":"backup_avine","cachedResultUrl":"https://github.com/ClenildonFerreira-Avine/backup_avine"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"93420a3d-0646-41fe-843e-433be065def6","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"8640ed06-a6a3-412a-93a2-a0f19495cf80","credentials":{"githubApi":{"id":"Vq8sxip5eVUiRrPM","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2128,288],"id":"a6991009-b7b9-41ff-9426-32a64db9a268","name":"Schedule Trigger"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6cddea6c-5809-4656-9184-6d3ccf04e11b","triggerCount":1,"shared":[{"createdAt":"2025-09-09T12:32:05.416Z","updatedAt":"2025-09-09T12:32:05.416Z","role":"workflow:owner","workflowId":"xwXSLX7UKFMslx05","projectId":"saXYljVXCG19Xv7E"}],"tags":[]}