kommo---conversa-inicial-0ytHvuR4fK3pkKeQ.json
{"createdAt":"2025-09-01T17:24:42.695Z","updatedAt":"2025-09-09T19:35:27.918Z","id":"0ytHvuR4fK3pkKeQ","name":"Kommo - Conversa Inicial","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"kommo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-464,-48],"id":"3e72b15e-0cbe-4e32-87dc-e02107de8213","name":"Webhook","webhookId":"1cc5d3ce-24b4-43cb-8b93-dcc481f2debc"},{"parameters":{"jsCode":"return items.map(item => {\n  let parsed;\n\n  try {\n    parsed = JSON.parse(item.json.data);\n  } catch (e) {\n    parsed = {};\n  }\n\n  function formatDate(timestamp) {\n    if (!timestamp || timestamp === 0) return \"\";\n    const date = new Date(timestamp * 1000); \n    return date.toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\n  }\n\n  const phoneField = parsed.custom_fields_values?.find(f => f.field_code === \"PHONE\");\n  const phone = phoneField?.values?.[0]?.value || \"\";\n\n  const contato = {\n    id: parsed.id || \"\",\n    nome_cliente: parsed.name || \"\",\n    primeiro_nome: parsed.first_name || \"\",\n    sobrenome: parsed.last_name || \"\",\n    usuario_responsavel: parsed.responsible_user_id || \"\",\n    criado_em: formatDate(parsed.created_at),\n    atualizado_em: formatDate(parsed.updated_at),\n    telefone: phone,\n    link: parsed._links?.self?.href || \"\"\n  };\n\n  return { json: contato };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-48],"id":"b24fa143-7ba4-4fb6-9b2b-da6d7c12ea34","name":"Code"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Cy1MCf9WjWR_3304h2IueO3afAXON7VXA8-Sl_5Dy1I","mode":"list","cachedResultName":"Avine Kommo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Cy1MCf9WjWR_3304h2IueO3afAXON7VXA8-Sl_5Dy1I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kommo - N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Cy1MCf9WjWR_3304h2IueO3afAXON7VXA8-Sl_5Dy1I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Lead ID":"={{ $json.lead.id }}","Cliente":"={{ $json.contato.nome }}","Telefone ":"={{ $json.contato.telefone }}","Horario Inicial":"={{ $json.lead.data_atual }}","Setor":"={{ $json.lead.setor }}","Atendente":"={{ $json.lead.atendente }}"},"matchingColumns":[],"schema":[{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone ","displayName":"Telefone ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Horario Inicial","displayName":"Horario Inicial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Horario Final","displayName":"Horario Final","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tempo Medio","displayName":"Tempo Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Setor","displayName":"Setor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,-48],"id":"eaae90b1-8466-4b5a-9fb7-498e5b06bcec","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"NwRDnXpQfiLHk82s","name":"Google Sheets account"}}},{"parameters":{"url":"=https://pedrocarneiro.kommo.com/api/v4/leads/{{ $json.body[\"leads[add][0][id]\"] || $json.body[\"leads[status][0][id]\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"with","value":"contacts"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"=accept","value":"=application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,-48],"id":"6ac661e9-9a18-4442-9271-0b4e7331ac9d","name":"Pegar Lead","credentials":{"httpHeaderAuth":{"id":"Kf2C5PSkF2XJ6xuU","name":"Header Auth account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  let parsed;\n\n  try {\n    parsed = JSON.parse(item.json.data);\n  } catch (e) {\n    parsed = {};\n  }\n\n  function formatDate(timestamp) {\n    if (!timestamp || timestamp === 0) return \"\";\n    const date = new Date(timestamp * 1000);\n    return date.toLocaleString(\"pt-BR\", { timeZone: \"America/Fortaleza\" });\n  }\n\n  const lead = {\n    id: parsed.id || \"\",\n    nome: parsed.name || \"\",\n    valor: parsed.price || 0,\n    status_id: parsed.status_id || \"\",\n    pipeline_id: parsed.pipeline_id || \"\",\n    criado_em: formatDate(parsed.created_at),\n    atualizado_em: formatDate(parsed.updated_at),\n    fechado_em: formatDate(parsed.closed_at),\n    inicio: parsed.custom_fields_values?.find(f => f.field_name === \"Início\")?.values[0]?.value || \"\",\n    contato_id: parsed._embedded?.contacts?.[0]?.id || \"\",\n    tags: parsed._embedded?.tags?.map(tag => tag.name) || [], // 👈 aqui pega os nomes das tags\n    link: parsed._links?.self?.href || \"\",\n  };\n\n  return { json: lead };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-48],"id":"77ae4d01-7eb3-4662-b437-19fdc9978015","name":"Formatando dados da Lead"},{"parameters":{"url":"=https://pedrocarneiro.kommo.com/api/v4/contacts/{{ $json.contato_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"with","value":"contacts"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"=accept","value":"=application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,-48],"id":"9c0acdce-b0fd-4317-a4a2-e863595c5310","name":"Pegar Contato","credentials":{"httpHeaderAuth":{"id":"Kf2C5PSkF2XJ6xuU","name":"Header Auth account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[448,-48],"id":"90a89a2a-b038-492c-8a16-093d186220fd","name":"Merge"},{"parameters":{"jsCode":"function ajustarHoraBrasileira(dateInput) {\n  if (!dateInput) return \"\";\n  const date = new Date(dateInput);\n  return new Intl.DateTimeFormat(\"pt-BR\", {\n    timeZone: \"America/Fortaleza\",\n    hour12: false,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\"\n  }).format(date).replace(\",\", \"\");\n}\n\nconst lead = items.find(i => i.json.nome)?.json || {};\nconst contato = items.find(i => i.json.nome_cliente)?.json || {};\nconst agora = ajustarHoraBrasileira(new Date());\nconst atendente = lead.pipeline_id === 11864479 ? \"Clodoaldo\" : \"\";\nconst setor = Array.isArray(lead.tags) && lead.tags.length > 0 ? lead.tags[0] : \"\";\nconst resultado = {\n  lead: {\n    id: lead.id || \"\",\n    nome: lead.nome || \"\",\n    valor: lead.valor ?? 0,\n    status_id: lead.status_id || \"\",\n    pipeline_id: lead.pipeline_id || \"\",\n    fechado_em: ajustarHoraBrasileira(lead.fechado_em),\n    contato_id: lead.contato_id || \"\",\n    data_atual: agora,\n    link: lead.link || \"\",\n    setor,\n    atendente\n  },\n  contato: {\n    id: contato.id || \"\",\n    nome: contato.nome_cliente || contato.nome || \"\",\n    primeiro_nome: contato.primeiro_nome || \"\",\n    sobrenome: contato.sobrenome || \"\",\n    usuario_responsavel: contato.usuario_responsavel || \"\",\n    telefone: contato.telefone || \"\",\n    link: contato.link || \"\"\n  }\n};\n\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-48],"id":"287f4759-5273-4539-b889-6ce28279a468","name":"Code1"}],"connections":{"Webhook":{"main":[[{"node":"Pegar Lead","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Pegar Lead":{"main":[[{"node":"Formatando dados da Lead","type":"main","index":0}]]},"Formatando dados da Lead":{"main":[[{"node":"Pegar Contato","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Pegar Contato":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"wsCVbuocuAIKzAeO"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.avine.com.br","x-real-ip":"172.68.12.141","x-forwarded-for":"204.74.253.164, 172.68.12.141","x-forwarded-proto":"https","content-length":"194","user-agent":"amoCRM-Webhooks/3.0","accept-encoding":"gzip, br","x-amocrm-requestid":"4ac8722a-1711-45ed-9978-37036f24ba24","cf-ray":"97bffc62a9a2aea4-MIA","content-type":"application/x-www-form-urlencoded","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"204.74.253.164","cf-ipcountry":"US","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"leads[add][0][id]":"20431374","leads[add][0][status_id]":"91388975","leads[add][0][pipeline_id]":"11864479","account[id]":"33615715","account[subdomain]":"pedrocarneiro"},"webhookUrl":"https://n8n.avine.com.br/webhook/kommo","executionMode":"production"}}]},"versionId":"50ae7f83-2777-4aeb-bd64-33b139a3c59d","triggerCount":1,"shared":[{"createdAt":"2025-09-01T17:24:42.695Z","updatedAt":"2025-09-01T17:24:42.695Z","role":"workflow:owner","workflowId":"0ytHvuR4fK3pkKeQ","projectId":"saXYljVXCG19Xv7E"}],"tags":[]}