kommo---conversa-final-Lv3pJkvrkNkAVBXf.json
{"createdAt":"2025-09-01T19:01:50.535Z","updatedAt":"2025-09-08T17:31:29.606Z","id":"Lv3pJkvrkNkAVBXf","name":"Kommo - Conversa Final","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"kommo-final","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-560,-128],"id":"a730d702-942a-4f23-8259-e299a9f42335","name":"Webhook","webhookId":"11a129d3-453f-46bb-af40-32f5e4db53be"},{"parameters":{"jsCode":"return items.map(item => {\n  let parsed;\n\n  try {\n    parsed = JSON.parse(item.json.data);\n  } catch (e) {\n    parsed = {};\n  }\n\n  function formatDate(timestamp) {\n    if (!timestamp || timestamp === 0) return \"\";\n    const date = new Date(timestamp * 1000); \n    return date.toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\n  }\n\n  const phoneField = parsed.custom_fields_values?.find(f => f.field_code === \"PHONE\");\n  const phone = phoneField?.values?.[0]?.value || \"\";\n\n  const contato = {\n    id: parsed.id || \"\",\n    nome_cliente: parsed.name || \"\",\n    primeiro_nome: parsed.first_name || \"\",\n    sobrenome: parsed.last_name || \"\",\n    usuario_responsavel: parsed.responsible_user_id || \"\",\n    criado_em: formatDate(parsed.created_at),\n    atualizado_em: formatDate(parsed.updated_at),\n    telefone: phone,\n    link: parsed._links?.self?.href || \"\"\n  };\n\n  return { json: contato };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,-128],"id":"6f27c6a9-0ea9-4a58-8eec-aa6b252ad015","name":"Code"},{"parameters":{"url":"=https://pedrocarneiro.kommo.com/api/v4/leads/{{ $json.body[\"leads[add][0][id]\"] || $json.body[\"leads[status][0][id]\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"with","value":"contacts"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"=accept","value":"=application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-128],"id":"8843dc94-0b4f-4e43-a7c5-4e9f5ede92f7","name":"Pegar Lead","credentials":{"httpHeaderAuth":{"id":"Kf2C5PSkF2XJ6xuU","name":"Header Auth account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  let parsed;\n\n  try {\n    parsed = JSON.parse(item.json.data);\n  } catch (e) {\n    parsed = {};\n  }\n\n  function formatDate(timestamp) {\n    if (!timestamp || timestamp === 0) return \"\";\n    const date = new Date(timestamp * 1000);\n    return date.toLocaleString(\"pt-BR\", { timeZone: \"America/Fortaleza\" });\n  }\n\n  const lead = {\n    id: parsed.id || \"\",\n    nome: parsed.name || \"\",\n    valor: parsed.price || 0,\n    status_id: parsed.status_id || \"\",\n    pipeline_id: parsed.pipeline_id || \"\",\n    criado_em: formatDate(parsed.created_at),\n    atualizado_em: formatDate(parsed.updated_at),\n    fechado_em: formatDate(parsed.closed_at),\n    inicio: parsed.custom_fields_values?.find(f => f.field_name === \"Início\")?.values[0]?.value || \"\",\n    contato_id: parsed._embedded?.contacts?.[0]?.id || \"\",\n    link: parsed._links?.self?.href || \"\",\n  };\n\n  return { json: lead };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,-128],"id":"b5bc9c39-d35b-4415-a535-5b974df9964c","name":"Formatando dados da Lead"},{"parameters":{"url":"=https://pedrocarneiro.kommo.com/api/v4/contacts/{{ $json.contato_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"with","value":"contacts"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"=accept","value":"=application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-128],"id":"a74d8d7c-5a19-4341-a274-85e98158b611","name":"Pegar Contato","credentials":{"httpHeaderAuth":{"id":"Kf2C5PSkF2XJ6xuU","name":"Header Auth account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[336,-128],"id":"ffbb7c4e-f8d5-420f-b525-3eb2f49d283a","name":"Merge"},{"parameters":{"jsCode":"function ajustarHoraBrasileira(dateInput) {\n  if (!dateInput) return \"\";\n  const date = new Date(dateInput);\n  const options = {\n    timeZone: \"America/Fortaleza\",\n    hour12: false,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\"\n  };\n  return new Intl.DateTimeFormat(\"pt-BR\", options).format(date).replace(\",\", \"\");\n}\n\nconst lead = items.find(i => i.json.nome)?.json || {};\nconst contato = items.find(i => i.json.nome_cliente)?.json || {};\n\n// Hora atual no fuso de Fortaleza\nconst agora = ajustarHoraBrasileira(new Date());\n\nconst resultado = {\n  lead: {\n    id: lead.id || \"\",\n    nome: lead.nome || \"\",\n    valor: lead.valor || 0,\n    status_id: lead.status_id || \"\",\n    pipeline_id: lead.pipeline_id || \"\",\n    fechado_em: ajustarHoraBrasileira(lead.fechado_em),\n    contato_id: lead.contato_id || \"\",\n    data_atual: agora,\n    link: lead.link || \"\"\n  },\n  contato: {\n    id: contato.id || \"\",\n    nome: contato.nome_cliente || contato.nome || \"\",\n    primeiro_nome: contato.primeiro_nome || \"\",\n    sobrenome: contato.sobrenome || \"\",\n    usuario_responsavel: contato.usuario_responsavel || \"\",\n    telefone: contato.telefone || \"\",\n    link: contato.link || \"\"\n  }\n};\n\nreturn [{ json: resultado }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,-128],"id":"7824a0b1-810b-4d97-9f4f-785d29fa86f8","name":"Code1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Cy1MCf9WjWR_3304h2IueO3afAXON7VXA8-Sl_5Dy1I","mode":"list","cachedResultName":"Avine Kommo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Cy1MCf9WjWR_3304h2IueO3afAXON7VXA8-Sl_5Dy1I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kommo - N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Cy1MCf9WjWR_3304h2IueO3afAXON7VXA8-Sl_5Dy1I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Lead ID":"={{ $json.lead.id }}","Horario Final":"={{ $json.lead.data_atual }}"},"matchingColumns":["Lead ID"],"schema":[{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone ","displayName":"Telefone ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Horario Inicial","displayName":"Horario Inicial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Horario Final","displayName":"Horario Final","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tempo Medio","displayName":"Tempo Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Setor","displayName":"Setor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[736,-128],"id":"7a661b3b-3cc1-48f8-ae01-8ac37e1bca71","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"NwRDnXpQfiLHk82s","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Pegar Lead","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Pegar Lead":{"main":[[{"node":"Formatando dados da Lead","type":"main","index":0}]]},"Formatando dados da Lead":{"main":[[{"node":"Pegar Contato","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Pegar Contato":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.avine.com.br","x-real-ip":"198.41.227.116","x-forwarded-for":"204.74.253.164, 198.41.227.116","x-forwarded-proto":"https","content-length":"311","user-agent":"amoCRM-Webhooks/3.0","accept-encoding":"gzip, br","x-amocrm-requestid":"405be050-59d8-40d5-a6d6-058d40dc888e","cf-ray":"97c027b87bdc1d4a-DFW","content-type":"application/x-www-form-urlencoded","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"204.74.253.164","cf-ipcountry":"US","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"leads[status][0][id]":"20432304","leads[status][0][status_id]":"91657875","leads[status][0][pipeline_id]":"11864479","leads[status][0][old_status_id]":"91388975","leads[status][0][old_pipeline_id]":"11864479","account[id]":"33615715","account[subdomain]":"pedrocarneiro"},"webhookUrl":"https://n8n.avine.com.br/webhook/kommo-final","executionMode":"production"}}]},"versionId":"66322ec2-ea6a-4016-9c01-eb2efb9e6be3","triggerCount":1,"shared":[{"createdAt":"2025-09-01T19:01:50.535Z","updatedAt":"2025-09-01T19:01:50.535Z","role":"workflow:owner","workflowId":"Lv3pJkvrkNkAVBXf","projectId":"saXYljVXCG19Xv7E"}],"tags":[]}