kommo---csat-wRNZwm8n5zvX5boW.json
{"createdAt":"2025-09-02T18:17:14.135Z","updatedAt":"2025-09-13T17:42:42.647Z","id":"wRNZwm8n5zvX5boW","name":"Kommo - CSAT","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"csat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-432,-48],"id":"f387dcc8-5e0a-4362-8778-7054ab1cb894","name":"Webhook","webhookId":"1518022f-3396-4736-826e-e37ed7af30ac"},{"parameters":{"url":"=https://pedrocarneiro.kommo.com/api/v4/leads/{{ $json.body[\"leads[add][0][id]\"] || $json.body[\"leads[status][0][id]\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"with","value":"contacts"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"=accept","value":"=application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,-48],"id":"88342ed9-de84-4d15-af3e-e7a6901f8751","name":"Pegar Lead","credentials":{"httpHeaderAuth":{"id":"Kf2C5PSkF2XJ6xuU","name":"Header Auth account"}}},{"parameters":{"jsCode":"// Entrada: items[0].json.data (string JSON)\n// Saída: objeto formatado com uma única tag\n\nconst raw = items[0].json.data;\nconst lead = JSON.parse(raw);\n\n// Lista de tags permitidas\nconst tagsPermitidas = [\"1\", \"2\", \"3\", \"4\", \"5\"];\n\n// Pega a primeira tag\nlet tag = null;\n\nif (lead._embedded?.tags?.length > 0) {\n  const nomeTag = lead._embedded.tags[0].name;\n  tag = tagsPermitidas.includes(nomeTag) ? Number(nomeTag) : \"Não Avaliado\";\n} else {\n  tag = \"Não Avaliado\";\n}\n\nreturn [\n  {\n    json: {\n      id: lead.id,\n      nome: lead.name,\n      valor: lead.price,\n      responsavel_id: lead.responsible_user_id,\n      status_id: lead.status_id,\n      pipeline_id: lead.pipeline_id,\n      criado_em: new Date(lead.created_at * 1000).toLocaleString(\"pt-BR\", { timeZone: \"America/Fortaleza\" }),\n      atualizado_em: new Date(lead.updated_at * 1000).toLocaleString(\"pt-BR\", { timeZone: \"America/Fortaleza\" }),\n      fechado_em: lead.closed_at ? new Date(lead.closed_at * 1000).toLocaleString(\"pt-BR\", { timeZone: \"America/Fortaleza\" }) : null,\n      tag,\n      contatos: lead._embedded?.contacts?.map(c => c.id) || [],\n      empresas: lead._embedded?.companies?.map(e => e.id) || []\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-48],"id":"250198b0-666f-458a-8e8b-366f35ca8b75","name":"Code"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Cy1MCf9WjWR_3304h2IueO3afAXON7VXA8-Sl_5Dy1I","mode":"list","cachedResultName":"Avine Kommo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Cy1MCf9WjWR_3304h2IueO3afAXON7VXA8-Sl_5Dy1I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kommo - N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Cy1MCf9WjWR_3304h2IueO3afAXON7VXA8-Sl_5Dy1I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Lead ID":"={{ $json.id }}","CSAT":"={{ $json.tag }}"},"matchingColumns":["Lead ID"],"schema":[{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone ","displayName":"Telefone ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Horario Inicial","displayName":"Horario Inicial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Horario Final","displayName":"Horario Final","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tempo Medio","displayName":"Tempo Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Setor","displayName":"Setor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Vendedor","displayName":"Vendedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CSAT","displayName":"CSAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[176,-48],"id":"a3371702-8792-42f2-a727-8841c5b1e030","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"NwRDnXpQfiLHk82s","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Pegar Lead","type":"main","index":0}]]},"Pegar Lead":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"wsCVbuocuAIKzAeO"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.avine.com.br","x-real-ip":"198.41.227.117","x-forwarded-for":"204.74.253.164, 198.41.227.117","x-forwarded-proto":"https","content-length":"194","user-agent":"amoCRM-Webhooks/3.0","accept-encoding":"gzip, br","x-amocrm-requestid":"175d1570-1231-497b-8492-67634713a196","cf-ray":"97e968887fc56719-DFW","content-type":"application/x-www-form-urlencoded","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"204.74.253.164","cf-ipcountry":"US","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"leads[add][0][id]":"20466526","leads[add][0][status_id]":"91657875","leads[add][0][pipeline_id]":"11864479","account[id]":"33615715","account[subdomain]":"pedrocarneiro"},"webhookUrl":"https://n8n.avine.com.br/webhook/csat","executionMode":"production"}}]},"versionId":"80d9d8f2-0a8d-4a8d-9b11-5f274f3adfa9","triggerCount":1,"shared":[{"createdAt":"2025-09-02T18:17:14.135Z","updatedAt":"2025-09-02T18:17:14.135Z","role":"workflow:owner","workflowId":"wRNZwm8n5zvX5boW","projectId":"saXYljVXCG19Xv7E"}],"tags":[]}