my-workflow-AKBroN4W0dS5QYiw.json
{"createdAt":"2025-09-09T19:38:36.014Z","updatedAt":"2025-09-09T20:16:06.292Z","id":"AKBroN4W0dS5QYiw","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"errorMessage":"caiu tudo"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-48,-16],"id":"d042f4c7-03f2-411e-a29b-ba34543886ae","name":"Stop and Error"},{"parameters":{"httpMethod":"POST","path":"ffbac016-cb43-46c1-b148-03d2a885191d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,-16],"id":"632396f5-5ade-4776-8575-bf5dc027b940","name":"Webhook","webhookId":"ffbac016-cb43-46c1-b148-03d2a885191d"},{"parameters":{"assignments":{"assignments":[{"id":"c21065f4-203e-4ef7-ba30-86803e0a1f2b","name":"teste","value":"={{ $json.body.testando }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,-16],"id":"47f1a74a-4d34-484e-b5ac-1524fb8dcbf3","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"wsCVbuocuAIKzAeO"},"staticData":null,"meta":null,"pinData":{},"versionId":"85432008-d442-4fb8-bec0-eb34881e28e2","triggerCount":1,"shared":[{"createdAt":"2025-09-09T19:38:36.014Z","updatedAt":"2025-09-09T19:38:36.014Z","role":"workflow:owner","workflowId":"AKBroN4W0dS5QYiw","projectId":"saXYljVXCG19Xv7E"}],"tags":[]}